<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学校动态</title>
</head>
<body>
<script type="text/javascript" src="../../../bundle/commons.js" charset="utf-8"></script>
<script type="text/javascript" src="../../../bundle/index.js" charset="utf-8"></script>
<script type="text/javascript" src="../../../bundle/jquery-3.1.1.js"></script>
<!--<script type="text/javascript" src="../../src/js/pages.js" hidden></script>-->
    <div>我校组织大班学生出去郊游</div>
<div class="content-wrap" hidden="hidden">
    <div id="title">IT入门</div>
    <div class="test-area">~ 翬 ~</div>
    <div class="img-container" id="content">
        <div class="img-11"></div>
        <img src="../../../imgDir/img-12.jpg" class="img-content"/>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $("#media").addClass("active");
    });
</script>